#Avocado price forecasting

The dataset, which contains retail scan data for avocado sellings, was downloaded from the Hass Avocado Board website in May of 2018 & compiled into a single CSV. The data can easily be retrieved over the [kaggle challenge page](https://www.kaggle.com/neuromusic/avocado-prices). Let's start by loading our dataset, so we can start exploring the data inside!

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the data
df = pd.read_csv('./data/avocado.csv')

Let's check the size of our dataset first:

In [4]:
print('Training set shape: ', df.shape)

Training set shape:  (18249, 14)

Let's by taking a peek at our dataset trough the head function to see what kind of variables are present.

In [3]:
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

Let's drop the useless index column:

In [15]:
df = df.drop(['Unnamed: 0'], axis=1)

It's  quick to check that we have no missing entries in our dataset. Kaggle likes to make things easier for us, but real dataset aren't that kind.

In [21]:
df.isna().sum()

Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

In our data, we have two categorical features, namely type and region. We can quickly check how many entries each category has and which are the category:

In [28]:
df['type'].value_counts()

conventional    9125
organic         9123
Name: type, dtype: int64

We notice that almost 50% of our avocados are conventional and the remaining are organic. Let's check the regions:

In [36]:
df['region'].value_counts()

NorthernNewEngland     338
Houston                338
Roanoke                338
Jacksonville           338
Chicago                338
Southeast              338
Portland               338
Philadelphia           338
RaleighGreensboro      338
SouthCarolina          338
Boston                 338
Plains                 338
Boise                  338
Midsouth               338
GrandRapids            338
Detroit                338
Denver                 338
Tampa                  338
Orlando                338
GreatLakes             338
LosAngeles             338
Pittsburgh             338
SouthCentral           338
NewYork                338
TotalUS                338
Atlanta                338
SanDiego               338
Spokane                338
HarrisburgScranton     338
PhoenixTucson          338
Columbus               338
California             338
BuffaloRochester       338
Syracuse               338
Sacramento             338
RichmondNorfolk        338
Indianapolis           338
MiamiFtLauderdale      338
DallasFtWorth          338
Seattle                338
West                   338
SanFrancisco           338
BaltimoreWashington    338
Louisville             338
CincinnatiDayton       338
LasVegas               338
Northeast              338
HartfordSpringfield    338
NewOrleansMobile       338
StLouis                338
Nashville              338
Charlotte              338
Albany                 337
WestTexNewMexico       335
Name: region, dtype: int64

In [39]:
print('The total number of region is ' + str(df['region'].value_counts().count()))

The total number of region is 54

We have a grandtotal of 54 different regions, each with almost 338 entries. The region are mostly from USA, but we can see that there are some outsiders, like Albany thrown in too.

For the numerical features, we can quickly take a look at the statistical informations trough the describe function.

In [41]:
df.describe()

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
count,18248.000000,1.824800e+04,1.824800e+04,1.824800e+04,1.824800e+04,1.824800e+04,1.824800e+04,1.824800e+04,18248.000000,18248.000000
mean,1.405983,8.506871e+05,2.930244e+05,2.951678e+05,2.284098e+04,2.396519e+05,1.822042e+05,5.434106e+04,3106.596741,2016.147961
std,0.402687,3.453635e+06,1.265022e+06,1.204152e+06,1.074669e+05,9.862679e+05,7.461979e+05,2.439723e+05,17693.364516,0.939926
min,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2015.000000
25%,1.100000,1.083788e+04,8.539050e+02,3.008552e+03,0.000000e+00,5.087330e+03,2.848935e+03,1.278000e+02,0.000000,2015.000000
50%,1.370000,1.074040e+05,8.646205e+03,2.905888e+04,1.849950e+02,3.975249e+04,2.636942e+04,2.648225e+03,0.000000,2016.000000
75%,1.660000,4.330098e+05,1.110289e+05,1.502204e+05,6.243620e+03,1.107849e+05,8.333773e+04,2.203151e+04,132.667500,2017.000000
max,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,2018.000000

Let's create a temporary dataset we'll use to experiment.

In [23]:
fakedf = df.copy()

## data viz

It's time to start analizing our data finally.